body {
    font-family: Verdana, Arial, sans-serif;
    background: white;
}

h1#main_title {
    padding: 25px;
    background: #113;
    /*width: 912px;*/
    color: white;
    font-weight: bold;
    font-size: 190%;
}

#page_index ul, #page_index li {
    list-style-type: none;
    padding-left: 0px;
}

#page_body h1, #page_body h2, #page_body h3, #page_body h4 {
    text-align: left;
    color: #225;
    font-family: Palatino, serif;
    font-weight: bold;
}

#page_body h1 {
    font-size: 150%;
}

#page_body h2 {
    font-size: 130%;
}

#page_body h3 {
    font-size: 110%;
}

#page_body h4 {
    font-size: 100%;
}

p, table {
    font-size: 14px;
}

#selector tr {
    color: white;
}

#selector a {
    color: #aaa;
    text-decoration: none;
}

#selector a:hover {
    color: #ffa;
    text-decoration: underline;
}

#main {
    width: 960px;
}

#selector {
    width: 7em;
    position: absolute;
    margin-right: auto;
    background: #333;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

#result {
    margin-left: 11em;
    background: white;
    padding: 25px;
    border-radius: 15px;
}

td {
    text-align: center;
}

#page_body {
    position: absolute;
    z-index: 0;
    width: 93.9%;
    margin-left: 11em;
    padding-left: 25px;
}
