/* This was taken from 
 * http://www.red-team-design.com/css3-animated-dropdown-menu
 */

#menu, #menu ul {
    list-style: none;
}

#menu {
    margin: 0;
    padding: 14px;
    width: 220px;
    position: absolute;
    background-color: #ccc;
    z-index: 1;
    font-size: 90%;
}

#menu .unselected {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu .selected {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
